<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCluIMXL3GJO5pknYP1rs7j0zVtF6vIYM4</string>
	<key>GCM_SENDER_ID</key>
	<string>907275512400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FusionPeak</string>
	<key>PROJECT_ID</key>
	<string>fusionpeak-cc736</string>
	<key>STORAGE_BUCKET</key>
	<string>fusionpeak-cc736.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907275512400:ios:fa56085e8e73190e867f55</string>
</dict>
</plist>